.main {
  max-width: 1100px;
  display: block;
  display: flex;
  margin: auto;
  position: relative;
}
.main:hover{
  border-bottom: none;
}

.contents{
  width: 640px;
  margin: 60px 30px 0;
}

.container {
  width: 600px;
  margin: 0 20px 0;
}

