.sidebar {
  width: 500px;
  position: fixed;
  padding-top: 100px;
}

.mypage {
  width: 300px;
  margin: auto;
  display: block;
  list-style: none;
  &__list {
    background-color: lightblue;
    border-radius: 10px;
    &__contents {
      padding: 20px;
      justify-content: space-between;
      border: solid thin rgb(245, 245, 245);
      display: flex;
      font-size: 24px;
      color: black;
      font-weight: 400;
    }
  }
  &__recruit {
    width : 200px;
    position: absolute;
    background-color: lemonchiffon;
    margin: 50px 0 0 ;
    text-align: center;
    border-radius: 30%;
    &__box {
      display: inline-block;
      color: black;
      &__icon {
        font-size: 60px;

      }
      &__text {
        font-size: 20px;
      }
    }
  }
}
