.title {
  font-size: 40px;
  color: darkgray;
  text-decoration: none;
}
.title:hover{
  text-decoration: none;
}

.mypage {
  width: 280px;
  margin: auto;
  display: block;
  list-style: none;
  &__list {
    background-color: #38aef0;
    border-radius: 10px;
    text-decoration: none;
    &__contents {
      padding: 20px;
      justify-content: space-between;
      border: solid thin rgb(245, 245, 245);
      display: flex;
      font-size: 24px;
      color:white;
      font-weight: 400;
    }
  }
}
.mypage__list__contents:hover{
  text-decoration: none;
}