.content {
  width: 600px;
  color: #000000;
  &__info {
    display: flex;
    font-size: 32px;
    &__name {
      font-weight: 500;
      margin-right: 100px;
    }
    &__date{
      font-size: 16px;
      text-align: center;
      margin-top: 16px;
    }
  }
  &__main {
    border-bottom: solid 1px darkgrey;
    margin-bottom: 50px;
    display: block;
    &__title{
      font-size: 24px;
      font-weight: 2px;
      color: #000000;
    }
    &__text {
      font-size: 16px;
      color: black;
    }
    &__image {
      max-width: 600px;
      max-height: 400px;
      margin-bottom: 10px;
    }
  }
  &__main:hover{
    text-decoration: none;
  }
}