.content {
  width: 600px;
  color: #000000;
  &__info {
    display: flex;
    font-size: 24px;
    &__name {
      font-weight: 500;
      margin-right: 50px;
    }
    &__date{
      font-size: 16px;
    }
  }
  &__main {
    border-bottom: solid darkgrey;
    &__title{
      font-size: 24px;
    }
    &__text {
      font-size: 18px;
      color: black;
    }
    &__image {
      max-width: 600px;
      max-height: 400px;
    }
  }
  &__main:hover{
    text-decoration: none;
  }
}
