.contents{
  display: block;
  margin-top: 60px;
}

.container {
  width: 700px;
  float: left;
}

.form {
  box-sizing: border-box;
  margin: auto;
  &__title {
    border: 2px solid #38aef0;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    padding: 8px
  }
  &__text {
    border: 2px solid #38aef0;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    padding: 8px;
    margin-top: 20px;
  }
  &__icon {
    display: flex;
    display: block;
    text-align: right;
    width: 600px;
    &__image {
      font-size: 56px;
      cursor: pointer;
      text-align: right;
      color: #38aef0;
    }
    &__submit {
      font-size: 30px;
      border-radius: 12px;
      margin-left: 16px;
      cursor: pointer;
      background-color: #38aef0;
      color: white;
    }
    .hidden {
      display: none;
    }
  }
}
